/*

    Robin
    Global LESS

    @author:    Sam Dunn
    @company:   One Mighty Roar
    @date:      2013

--------------------------------------- */
/* Reset.less
 * Props to Eric Meyer (meyerweb.com) for his CSS reset file. We're using an adapted version here	that cuts out some of the reset HTML elements we will never need here (i.e., dfn, samp, etc).
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul {
  list-style: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
html {
  overflow-y: auto;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
/*
 
  Robin
  Variables LESS
             
  Company: 	 One Mighty Roar
  Author: 	 Sam Dunn
  Website:	 www.onemightyroar.com
 
--------------------------------------- */
/*
 
  Build Internet
  Mixins LESS
             
  Company:   One Mighty Roar
  Author:    Sam Dunn
  Website:   www.onemightyroar.com
 
--------------------------------------- */
/*
=======================================
  MIXINS
=======================================
*/
.connecting-dots {
  content: " ";
  display: block;
  position: absolute;
}
/*
 
  Robin
  Typography LESS
             
  Company:   One Mighty Roar + Robin
  Author:    Sam Dunn
  Website:   www.getrobin.com
 
--------------------------------------- */
/*
=======================================
  FONT STACKS & @FONT-FACE
=======================================
*/
/*
=======================================
  TYPOGRAPHY
=======================================
*/
* {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
body {
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
}
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
strong,
b,
i,
em {
  vertical-align: baseline;
}
a {
  color: #2d99d3;
  font-weight: 500;
  text-decoration: none;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
a:hover {
  color: #57addc;
}
p {
  font-weight: 400;
  font-size: 15px;
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  line-height: 21px;
  color: #666;
  margin-top: -6px;
  margin-bottom: 18px;
}
p small {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
}
p small a {
  font-weight: 600;
  border-bottom: 1px solid transparent;
}
p small a:hover {
  border-bottom: 1px solid transparent;
}
p.big {
  font-weight: 400;
  font-size: 21px;
  font-family: "lft-etica", Helvetica, Arial, sans-serif;
  line-height: 30px;
  color: #8a96a2;
}
h1 + p.big {
  font-weight: 400;
  font-size: 24px;
  font-family: "lft-etica", Helvetica, Arial, sans-serif;
  line-height: 30px;
  color: #8a96a2;
  margin-top: -12px;
}
h1.border,
h2.border,
h3.border,
h4.border,
h5.border,
p.border {
  border-bottom: 1px solid #dddddd;
}
h1.no-bottom,
h2.no-bottom,
h3.no-bottom,
h4.no-bottom,
h5.no-bottom,
p.no-bottom {
  margin-bottom: 6px;
}
h1 {
  font-weight: 200;
  font-size: 48px;
  font-family: "lft-etica", Helvetica, Arial, sans-serif;
  line-height: 54px;
  color: #32383e;
  margin-top: -8px;
  margin-bottom: 18px;
  letter-spacing: -1px;
}
h2 {
  font-weight: 300;
  font-size: 30px;
  font-family: "lft-etica", Helvetica, Arial, sans-serif;
  line-height: 36px;
  margin-top: -1px;
  margin-bottom: 12px;
  color: #32383e;
  letter-spacing: -1px;
}
h2 small {
  font-size: 24px;
}
h3 {
  font-weight: 600;
  font-size: 18px;
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  line-height: 30px;
  color: #252a2e;
  margin-top: -6px;
  margin-bottom: 12px;
}
h3 small {
  font-size: 16px;
}
h4 {
  font-weight: 600;
  font-size: 15px;
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  line-height: 24px;
  color: #32383e;
  margin-top: -5px;
  margin-bottom: 12px;
}
h5 {
  font-weight: 600;
  font-size: 13.799999999999999px;
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  line-height: 18px;
  color: #fd4b46;
  text-transform: uppercase;
  margin-top: -3px;
  margin-bottom: 12px;
  letter-spacing: 0.1em;
}
h5 small {
  font-size: 14px;
}
ul,
ol {
  font-weight: normal;
  font-size: inherit;
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  line-height: 18px;
}
ul.text-list,
ol.text-list {
  margin: 0 0 18px 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li {
  color: #777;
  line-height: 18px;
}
ul.unstyled {
  margin-left: 0;
  list-style: none;
}
ul.unstyled li {
  padding: 5px 0;
}
ul.unstyled a {
  color: #2d99d3;
  font-weight: 500;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
ul.unstyled a:hover {
  border-bottom: 1px solid #2d99d3;
}
ul.zebra {
  margin-left: 0;
  list-style: none;
}
ul.zebra li {
  padding: 10px;
}
ul.zebra li.odd {
  background: #eee;
}
dl {
  margin-bottom: 18px;
  color: #777;
  font-weight: normal;
  font-size: 14px;
  font-family: "lft-etica", Helvetica, Arial, sans-serif;
  line-height: 120%;
}
dl dt,
dl dd {
  line-height: 18px;
}
dl dt {
  font-weight: bold;
}
dl dd {
  margin-left: 9px;
}
::selection {
  background: #fd4b46;
  color: #fff;
}
::-moz-selection {
  background: #fd4b46;
  color: #fff;
}
hr {
  margin: 30px 0 29px 0;
  border: 0;
  border-bottom: 1px solid #eee;
}
strong {
  font-weight: bold;
  font-style: inherit;
}
em {
  font-weight: inherit;
  font-style: italic;
  line-height: inherit;
}
.muted {
  color: #999;
}
.centered {
  text-align: center;
}
blockquote {
  margin-bottom: 18px;
  padding-left: 15px;
  border-left: 5px solid #eee;
}
blockquote p {
  margin-bottom: 0;
  font-weight: normal;
  font-size: 14px;
  font-family: "lft-etica", Helvetica, Arial, sans-serif;
  line-height: 120%;
}
blockquote small {
  display: block;
  color: #999;
}
blockquote small:before {
  content: '\2014 \00A0';
}
address {
  display: block;
  margin-bottom: 18px;
  line-height: 18px;
}
.subtext {
  color: #888;
  font-size: 14px;
}
.subtext.caps {
  font-size: 12px;
  text-tranform: uppercase;
}
.dark h1,
.dark h2,
.dark h4 {
  color: #fff;
}
.dark p {
  color: #9cafbe;
}
.dark p a {
  color: #5ebeff;
  border-bottom: 1px solid transparent;
}
.dark p a:hover {
  color: #91d3ff;
  border-bottom-color: #91d3ff;
}
.orange p {
  color: #fff;
}
.orange p a {
  color: #ffc274;
}
.orange p a:hover {
  border-color: #ffc274;
}
.code-block {
  zoom: 1;
  clear: both;
}
.code-block:before,
.code-block:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}
.code-block:after {
  clear: both;
}
.code-block hr {
  clear: both;
}
.code {
  font: 12px normal Menlo, Monaco, Courier, monospace;
  color: #666;
  padding: 5px 10px;
  width: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  overflow: auto;
}
.code .highlight {
  background: #ffead0;
  color: #252a2e;
}
.code-sample {
  width: 100%;
  float: left;
}
.code-sample .code {
  margin: 10px 0 20px 0;
  border: 1px solid #dddddd;
  display: inline-block;
  background: #fff;
  line-height: 150%;
}
.code-sample .code-label {
  position: absolute;
  top: -20px;
  right: 0;
}
.code-label {
  float: left;
  width: auto;
  min-height: 40px;
}
.code-label .code {
  background: #eee;
  border: 0;
  display: inline-block;
  width: auto;
}
p .code {
  background: #eee;
  border: 0;
  display: inline-block;
  width: auto;
}
.error {
  color: #eb3349;
}
/*

  Robin
  Form Page LESS
  
  @author:  Sam Dunn
  @company:   One Mighty Roar
  @date:    2013
  
--------------------------------------- */
/* Redirects: 
  Popup specific --> popup.less
  Login specific --> login.less
*/
label {
  font-weight: 600;
  font-size: 15px;
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  line-height: normal;
  color: #666;
  margin-bottom: 10px;
  display: block;
}
input,
input[type="text"],
input[type="email"],
input[type="password"],
input:not([type="submit"]),
textarea,
.field-select {
  font-weight: 400;
  font-size: 15px;
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  line-height: normal;
  width: 100%;
  color: #666;
  background: #fff;
  border: 1px solid #c7c7c7;
  padding: 9px 9px;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.08);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.08);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.08);
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
  outline: none;
  border-color: #5ebeff;
  -webkit-box-shadow: 0 0 2px #2ba9ff;
  -moz-box-shadow: 0 0 2px #2ba9ff;
  box-shadow: 0 0 2px #2ba9ff;
}
input::-webkit-input-placeholder {
  line-height: normal;
}
textarea {
  min-height: 90px;
  resize: none;
}
.field-select {
  background: #fff;
  overflow: hidden;
  padding: 0;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}
.field-select::before {
  content: " ";
  position: absolute;
  margin: 9px 9px;
  top: 6px;
  right: 0;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #dddddd;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.field-select:hover::before {
  border-top-color: #fd4b46;
}
select {
  font-weight: 400;
  font-size: 15px;
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  line-height: normal;
  width: 100%;
  padding: 9px 9px;
  background: transparent;
  -webkit-appearance: none;
  border: none;
  outline: none;
  color: #888;
  cursor: pointer;
}
.field-boxes label,
.inline-label-form .field-boxes label,
.inline-label-form.icon-labels .field-boxes label,
.inline-label-form.field-boxes label {
  font-weight: 400;
  display: inline-block;
  width: 50%;
  margin-right: -4px;
  text-align: left;
  padding-top: 9px;
  padding-bottom: 9px;
  vertical-align: baseline;
}
input[type="checkbox"],
input[type="radio"] {
  display: inline;
  width: auto;
  margin-right: 7.5px;
}
form {
  width: 100%;
  margin-bottom: 30px;
}
fieldset {
  margin-bottom: 30px;
}
.field-row {
  zoom: 1;
  margin-bottom: 18px;
}
.field-container {
  zoom: 1;
  display: inline-block;
  margin-right: -4px;
  margin-bottom: 18px;
  vertical-align: top;
  width: 100%;
}
.field-container:before,
.field-container:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}
.field-container:after {
  clear: both;
}
.field-container.half {
  padding-right: 15px;
  width: 50%;
}
.field-container.half:nth-child(odd) {
  padding-right: 0;
}
.field-container.third {
  padding-right: 15px;
  width: 33.33%;
}
.field-container.third:nth-child(3n + 3),
.field-container.third + .two-third {
  padding-right: 0;
}
.field-container.third:nth-child(3n + 3) + .third,
.field-container.third + .two-third + .third,
.field-container.third:nth-child(3n + 3) + .two-third,
.field-container.third + .two-third + .two-third {
  padding-right: 15px;
}
.field-container.two-third {
  width: 66.6%;
}
.field-container.quarter {
  padding-right: 15px;
  width: 25%;
}
.field-container.last {
  padding-right: 0 !important;
}
.inline-label-form {
  margin-bottom: 18px;
  zoom: 1;
}
.inline-label-form.half {
  width: 50%;
}
.inline-label-form.third {
  width: 33.333%;
}
.inline-label-form.two-third {
  width: 66.66%;
}
.inline-label-form .field-container,
.inline-label-form.field-container {
  display: table;
}
.inline-label-form .field-container > *,
.inline-label-form.field-container > * {
  display: table-cell;
  margin-right: -4px;
  vertical-align: top;
}
.inline-label-form.one-eleven label {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 7.833%;
}
@media screen and (max-width: 650px) {
  .inline-label-form.one-eleven label {
    width: 99.99600000000001%;
  }
}
.inline-label-form.one-eleven label + * {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 91.163%;
  display: table-cell;
}
@media screen and (max-width: 650px) {
  .inline-label-form.one-eleven label + * {
    width: 99.99600000000001%;
  }
}
.inline-label-form.two-ten label {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 16.166%;
}
@media screen and (max-width: 650px) {
  .inline-label-form.two-ten label {
    width: 99.99600000000001%;
  }
}
.inline-label-form.two-ten label + * {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 82.83%;
  display: table-cell;
}
@media screen and (max-width: 650px) {
  .inline-label-form.two-ten label + * {
    width: 99.99600000000001%;
  }
}
.inline-label-form.three-nine label {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 24.499000000000002%;
}
@media screen and (max-width: 650px) {
  .inline-label-form.three-nine label {
    width: 99.99600000000001%;
  }
}
.inline-label-form.three-nine label + * {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 74.497%;
  display: table-cell;
}
@media screen and (max-width: 650px) {
  .inline-label-form.three-nine label + * {
    width: 99.99600000000001%;
  }
}
.inline-label-form.four-eight label {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 32.832%;
}
@media screen and (max-width: 650px) {
  .inline-label-form.four-eight label {
    width: 99.99600000000001%;
  }
}
.inline-label-form.four-eight label + * {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 66.164%;
  display: table-cell;
}
@media screen and (max-width: 650px) {
  .inline-label-form.four-eight label + * {
    width: 99.99600000000001%;
  }
}
.inline-label-form.five-seven label {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 41.165%;
}
@media screen and (max-width: 650px) {
  .inline-label-form.five-seven label {
    width: 99.99600000000001%;
  }
}
.inline-label-form.five-seven label + * {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 57.831%;
  display: table-cell;
}
@media screen and (max-width: 650px) {
  .inline-label-form.five-seven label + * {
    width: 99.99600000000001%;
  }
}
.inline-label-form.six-six label {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 49.498000000000005%;
}
@media screen and (max-width: 650px) {
  .inline-label-form.six-six label {
    width: 99.99600000000001%;
  }
}
.inline-label-form.six-six label + * {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 49.498000000000005%;
  display: table-cell;
}
@media screen and (max-width: 650px) {
  .inline-label-form.six-six label + * {
    width: 99.99600000000001%;
  }
}
.inline-label-form.icon-labels label {
  width: 40px;
  text-align: center;
  padding-right: 0;
}
.inline-label-form.icon-labels label + div {
  display: inline-block !important;
}
.inline-label-form label {
  width: 25%;
  padding-top: 9px;
  margin: 0;
  text-align: right;
  padding-right: 15px;
}
.inline-label-form label + * {
  width: 100%;
  margin: 0;
}
.inline-label-form:before,
.inline-label-form:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}
.inline-label-form:after {
  clear: both;
}
.byline-wrap .inline-help {
  margin-top: 5px;
}
.inline-help {
  color: #8a8a8a;
  font-size: 14px;
  margin: 5px 0 0 0;
}
.button-set {
  text-align: right;
}
.button-wrapper {
  border-top: 1px solid #ccc;
  padding: 15px 15px;
  background: #fafafa;
  text-align: right;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
  font-weight: 600;
  font-size: 14px;
  font-family: "lft-etica", Helvetica, Arial, sans-serif;
  line-height: normal;
}
.button-wrapper .submit-checkbox {
  margin-right: 10px;
  line-height: 36px;
  display: inline-block;
}
.button-wrapper .submit-checkbox label,
.button-wrapper .submit-checkbox input {
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  font-weight: 500;
  font-size: 14px;
  font-family: "lft-etica", Helvetica, Arial, sans-serif;
  line-height: normal;
}
.button-wrapper .float-left {
  line-height: 36px;
}
.gray-form-block {
  background: #eee;
  clear: both;
  padding: 15px 0 3px 0;
  border-top: 1px solid #dddddd;
}
.gray-form-block .field-container:last-child {
  margin-bottom: 0;
}
.gray-form-block .red-link {
  color: #e43944;
  font-size: 14px;
  text-decoration: underline;
  line-height: 42px;
}
.gray-form-block .red-link:hover {
  text-decoration: none;
}
.inline-label-form .border-both {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 15px 0 0 0;
  margin: 0 0 15px 0;
}
.inline-label-form .border-top {
  border-top: 1px solid #eee;
  padding: 18px 0 0 0;
  margin: 0;
}
.inline-label-form .field-container.full input[type="text"],
.inline-label-form .field-container.full input[type="select"] {
  width: 376px;
}
.inline-label-form .field-container.half input[type="text"],
.inline-label-form .field-container.half input[type="select"] {
  width: 194px;
}
.inline-label-form .field-container.third input[type="text"],
.inline-label-form .field-container.third input[type="select"] {
  width: 120px;
}
.inline-label-form .field-container.small input[type="text"],
.inline-label-form .field-container.small input[type="select"] {
  width: 50px;
  text-align: center;
}
.inline-label-form .file-drop-zone,
.inline-label-form .file-drop-preview {
  position: absolute;
  top: 20px;
  right: 15px;
  height: 150px;
  width: 150px;
  background: #f5f5f5;
  border: 1px solid #dddddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.inline-label-form .file-drop-zone p,
.inline-label-form .file-drop-preview p {
  text-align: center;
  color: #888;
  font-weight: 600;
  font-size: 14px;
  margin-top: 60px;
}
.inline-label-form .file-drop-zone a,
.inline-label-form .file-drop-preview a {
  position: absolute;
  z-index: 10;
  display: block;
  bottom: 0;
  padding: 10px 0;
  width: 100%;
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
}
.inline-label-form .file-drop-preview {
  overflow: hidden;
}
.inline-label-form .file-drop-preview a {
  font-weight: 500;
  font-size: 14px;
  font-family: "lft-etica", Helvetica, Arial, sans-serif;
  line-height: 100%;
  text-align: center;
  display: block;
  margin-top: 5px;
}
.inline-label-form .file-drop-preview img {
  width: 100%;
  height: auto;
}
.date-time-combo {
  zoom: 1;
}
.date-time-combo:before,
.date-time-combo:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}
.date-time-combo:after {
  clear: both;
}
.date-time-combo .input-time,
.date-time-combo .ui-timepicker-input {
  width: 86px;
  border-right: none;
  text-align: right;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: url('../img/icn-time.png') no-repeat 8px center;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
}
.date-time-combo .input-date,
.date-time-combo .hasDatepicker {
  width: 85px;
  z-index: 2;
  text-align: right;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: url('../img/icn-date.png') no-repeat 8px center;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
}
/*

  Robin
  Buttons LESS
  
  @author:  Sam Dunn
  @company: One Mighty Roar
  @date:    2013
  
--------------------------------------- */
.btn,
input[type="submit"],
button,
.submit-button,
.btnPrimary,
.button {
  font-weight: 600;
  font-size: 14px;
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  line-height: 100%;
  background: #fd4b46;
  border: 1px solid #fd4b46;
  display: inline-block;
  color: #fff;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  padding: 12px 24px;
  width: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all ease-in-out 100ms;
  -moz-transition: all ease-in-out 100ms;
  transition: all ease-in-out 100ms;
  cursor: pointer;
}
.btn:hover,
input[type="submit"]:hover,
button:hover,
.submit-button:hover,
.btnPrimary:hover,
.button:hover {
  color: #fff;
  text-decoration: none;
  background: #ee3f46;
  border: 1px solid #ee3f46;
}
.btn[disabled],
input[type="submit"][disabled],
button[disabled],
.submit-button[disabled],
.btnPrimary[disabled],
.button[disabled] {
  background: #e2e7ec;
  border: 1px solid #e2e7ec;
  color: #778896;
  cursor: default;
}
.btn[disabled]:hover,
input[type="submit"][disabled]:hover,
button[disabled]:hover,
.submit-button[disabled]:hover,
.btnPrimary[disabled]:hover,
.button[disabled]:hover {
  background: #e2e7ec;
  border: 1px solid #e2e7ec;
  color: #778896;
}
.btn [class*="icon-"],
input[type="submit"] [class*="icon-"],
button [class*="icon-"],
.submit-button [class*="icon-"],
.btnPrimary [class*="icon-"],
.button [class*="icon-"] {
  font-size: 16px;
  display: inline-block;
  margin: -8px 0 -4px;
}
.btn.btn_icon,
input[type="submit"].btn_icon,
button.btn_icon,
.submit-button.btn_icon,
.btnPrimary.btn_icon,
.button.btn_icon {
  padding-left: 13px;
  padding-right: 13px;
}
.btn-outline,
input[type="submit"].btn-outline,
button.btn-outline {
  font-weight: 600;
  font-size: 14px;
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  line-height: 100%;
  background: #fd4b46;
  border: 1px solid #fd4b46;
  display: inline-block;
  color: #fff;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  padding: 12px 24px;
  width: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all ease-in-out 100ms;
  -moz-transition: all ease-in-out 100ms;
  transition: all ease-in-out 100ms;
  cursor: pointer;
  background: transparent;
  border: 1px solid #ccc;
  color: #666;
}
.btn-outline:hover,
input[type="submit"].btn-outline:hover,
button.btn-outline:hover {
  color: #fff;
  text-decoration: none;
  background: #ee3f46;
  border: 1px solid #ee3f46;
}
.btn-outline[disabled],
input[type="submit"].btn-outline[disabled],
button.btn-outline[disabled] {
  background: #e2e7ec;
  border: 1px solid #e2e7ec;
  color: #778896;
  cursor: default;
}
.btn-outline[disabled]:hover,
input[type="submit"].btn-outline[disabled]:hover,
button.btn-outline[disabled]:hover {
  background: #e2e7ec;
  border: 1px solid #e2e7ec;
  color: #778896;
}
.btn-outline [class*="icon-"],
input[type="submit"].btn-outline [class*="icon-"],
button.btn-outline [class*="icon-"] {
  font-size: 16px;
  display: inline-block;
  margin: -8px 0 -4px;
}
.btn-outline.btn_icon,
input[type="submit"].btn-outline.btn_icon,
button.btn-outline.btn_icon {
  padding-left: 13px;
  padding-right: 13px;
}
.btn-outline:hover,
input[type="submit"].btn-outline:hover,
button.btn-outline:hover {
  background: transparent;
  border-color: #aaa;
  color: #666;
}
.btn-alt,
input[type="submit"].btn-alt,
button.btn-alt {
  font-weight: 600;
  font-size: 14px;
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  line-height: 100%;
  background: #fd4b46;
  border: 1px solid #fd4b46;
  display: inline-block;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  padding: 12px 24px;
  width: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all ease-in-out 100ms;
  -moz-transition: all ease-in-out 100ms;
  transition: all ease-in-out 100ms;
  cursor: pointer;
  background: #2d99d3;
  border: 1px solid #2d99d3;
  color: #fff;
}
.btn-alt:hover,
input[type="submit"].btn-alt:hover,
button.btn-alt:hover {
  color: #fff;
  text-decoration: none;
  background: #ee3f46;
  border: 1px solid #ee3f46;
}
.btn-alt[disabled],
input[type="submit"].btn-alt[disabled],
button.btn-alt[disabled] {
  background: #e2e7ec;
  border: 1px solid #e2e7ec;
  color: #778896;
  cursor: default;
}
.btn-alt[disabled]:hover,
input[type="submit"].btn-alt[disabled]:hover,
button.btn-alt[disabled]:hover {
  background: #e2e7ec;
  border: 1px solid #e2e7ec;
  color: #778896;
}
.btn-alt [class*="icon-"],
input[type="submit"].btn-alt [class*="icon-"],
button.btn-alt [class*="icon-"] {
  font-size: 16px;
  display: inline-block;
  margin: -8px 0 -4px;
}
.btn-alt.btn_icon,
input[type="submit"].btn-alt.btn_icon,
button.btn-alt.btn_icon {
  padding-left: 13px;
  padding-right: 13px;
}
.btn-alt:hover,
input[type="submit"].btn-alt:hover,
button.btn-alt:hover {
  background: #288abf;
  border-color: #288abf;
  color: #fff;
}
.disabled,
button:disabled,
button[disabled=disabled] {
  background: #e2e7ec;
  border: 1px solid #e2e7ec;
  color: #778896;
  cursor: default;
}
.disabled:hover,
button:disabled:hover,
button[disabled=disabled]:hover {
  background: #e2e7ec;
  border: 1px solid #e2e7ec;
  color: #778896;
}
.dark .btn-outline,
.dark input[type="submit"].btn-outline,
.dark button.btn-outline {
  border-color: #9cafbe;
  color: #fff;
  -webkit-transition: all ease-in-out 100ms;
  -moz-transition: all ease-in-out 100ms;
  transition: all ease-in-out 100ms;
}
.dark .btn-outline:hover,
.dark input[type="submit"].btn-outline:hover,
.dark button.btn-outline:hover {
  border-color: #fff;
}
.dark .disabled,
.dark button:disabled,
.dark button[disabled=disabled] {
  color: #9cafbe;
  background: #252a2e;
  border-color: #252a2e;
}
.orange .btn-outline,
.orange input[type="submit"].btn-outline,
.orange button.btn-outline {
  border-color: #fbd5d6;
  color: #fff;
}
.orange .btn-outline:hover,
.orange input[type="submit"].btn-outline:hover,
.orange button.btn-outline:hover {
  border-color: #fff;
}
.orange .btn {
  background: #fff;
  color: #fd4b46;
}
.orange .btn:hover {
  background: #fdeced;
}
.orange .btn-alt,
.orange input[type="submit"].btn-alt,
.orange button.btn-alt {
  border-color: #fbd5d6;
  background: #f26e73;
  color: #fff;
}
.orange .btn-alt:hover,
.orange input[type="submit"].btn-alt:hover,
.orange button.btn-alt:hover {
  border-color: #fff;
  background: #f1646a;
}
.orange .disabled,
.orange button:disabled,
.orange button[disabled=disabled] {
  color: #fab0a3;
  background: #c5270c;
  border-color: #c5270c;
}
.orange .disabled:hover,
.orange button:disabled:hover,
.orange button[disabled=disabled]:hover {
  color: #fab0a3;
  background: #c5270c;
  border-color: #c5270c;
}
.btn-secondary {
  color: #555;
  width: auto;
  height: auto;
  text-decoration: none;
  padding: 8px 28px;
  text-transform: none;
  font-size: 13px;
  font-weight: 600;
  vertical-align: middle;
  border: 1px solid #aaa;
  border: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #f2f2f2;
  background-image: -moz-linear-gradient(top, #f5f5f5, #eeeeee);
  background-image: -ms-linear-gradient(top, #f5f5f5, #eeeeee);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#eeeeee));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #eeeeee);
  background-image: -o-linear-gradient(top, #f5f5f5, #eeeeee);
  background-image: linear-gradient(top, #f5f5f5, #eeeeee);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1), inset 0 1px 1px rgba(255,255,255,1);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1), inset 0 1px 1px rgba(255,255,255,1);
  box-shadow: 0 1px 1px rgba(0,0,0,0.1), inset 0 1px 1px rgba(255,255,255,1);
}
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #fbfbfb;
  background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));
  background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: linear-gradient(top, #ffffff, #f5f5f5);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15), inset 0 1px 2px rgba(255,255,255,1);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15), inset 0 1px 2px rgba(255,255,255,1);
  box-shadow: 0 1px 2px rgba(0,0,0,0.15), inset 0 1px 2px rgba(255,255,255,1);
}
.btn-secondary:active {
  background-color: #d6d6d6;
  background-image: -moz-linear-gradient(top, #dddddd, #cccccc);
  background-image: -ms-linear-gradient(top, #dddddd, #cccccc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dddddd), to(#cccccc));
  background-image: -webkit-linear-gradient(top, #dddddd, #cccccc);
  background-image: -o-linear-gradient(top, #dddddd, #cccccc);
  background-image: linear-gradient(top, #dddddd, #cccccc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#cccccc', GradientType=0);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}
.unstyled + .btnPrimary {
  margin-top: 10px;
}
.button-set {
  list-style: none;
}
.button-set .btn {
  margin-left: 5px;
}
.button-bar {
  text-align: right;
  padding-top: 20px;
  margin-top: 25px;
  border-top: 1px solid #eee;
}
.button-bar * {
  display: inline-block;
}
ul.pill-set {
  display: block;
}
ul.pill-set.full {
  zoom: 1;
  margin-bottom: 20px;
}
ul.pill-set.full:before,
ul.pill-set.full:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}
ul.pill-set.full:after {
  clear: both;
}
ul.pill-set.float {
  display: inline-block;
  margin: 7px 0 20px 10px;
}
ul.pill-set li {
  float: left;
  list-style: none;
  zoom: 1;
  margin-right: 10px;
}
ul.pill-set li:before,
ul.pill-set li:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}
ul.pill-set li:after {
  clear: both;
}
ul.pill-set li a {
  color: #555;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 20px;
  border: 1px solid transparent;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
ul.pill-set li a:hover {
  border-color: #dddddd;
  text-decoration: none;
}
ul.pill-set li a.sortSelected {
  border-color: #ccc;
}
.ts-container {
  position: relative;
  top: 50px;
}
.ts-container .ts-slider {
  z-index: 10;
  position: relative;
}
.ts-container .ts-range-wrap {
  clear: both;
  padding-top: 3px;
}
.ts-container input[type='range'] {
  -webkit-appearance: none;
  background-color: silver;
  width: 100%;
  height: 6px;
  border: 1px solid #c7c7c7;
  background: #fafafa;
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, #f5f5f5, #fafafa);
  background-image: -ms-linear-gradient(top, #f5f5f5, #fafafa);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#fafafa));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #fafafa);
  background-image: -o-linear-gradient(top, #f5f5f5, #fafafa);
  background-image: linear-gradient(top, #f5f5f5, #fafafa);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#fafafa', GradientType=0);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.ts-container input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #fafafa;
  background-image: url('../img/bg-slider-thumb.png');
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 20px;
  height: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 50ms ease-in-out;
  -moz-transition: all 50ms ease-in-out;
  transition: all 50ms ease-in-out;
}
.ts-container input[type="range"]::-webkit-slider-thumb:hover {
  border: 1px solid rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.ts-container .ts-marker {
  position: absolute;
  top: 0;
  background: #222;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  width: 130px;
  margin-top: -30px;
  padding: 10px;
  font-weight: 600;
  font-size: 14px;
  font-family: "lft-etica", Helvetica, Arial, sans-serif;
  line-height: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.ts-container .ts-marker .ts-time {
  display: block;
  text-align: center;
}
.ts-container .ts-marker .ts-date {
  text-transform: uppercase;
  font-size: 11px;
  display: block;
  font-weight: 700;
  color: #aaa;
  letter-spacing: 1px;
  text-align: center;
}
.ts-container .ts-caret {
  display: inline-block;
  position: absolute;
  bottom: -6px;
  left: 50%;
  margin-left: -5px;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 6px solid #222;
  border-top-color: rgba(0, 0, 0, 0.8);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
}
.ts-container .ts-label {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 11px;
  font-family: "lft-etica", Helvetica, Arial, sans-serif;
  line-height: 100%;
  color: #555;
  letter-spacing: 1px;
  margin-top: 5px;
}
.ts-container .ts-startTime,
.ts-container .ts-endTime {
  font-weight: 500;
  font-size: 13px;
  font-family: "lft-etica", Helvetica, Arial, sans-serif;
  line-height: 100%;
  color: #666;
}
.ts-container .ts-endTime {
  text-align: right;
}
.ts-container .ts-tickContainer {
  display: block;
  position: absolute;
  top: 10px;
}
.ts-container .tick {
  background: #dddddd;
  position: absolute;
  bottom: 0;
  width: 3px;
  height: 40px;
}
.ts-container .active-tick {
  position: absolute;
  background: #f55737;
  bottom: -40px;
  left: 75px;
  width: 2px;
  height: 40px;
}
* {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
}
.wrap {
  width: 1060px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}
@media screen and (max-width: 1060px) {
  .wrap {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}
/*

    Robin Space LESS

    @author Sam Dunn, Jonah Stuart
    @company Robin
    @date 2014

--------------------------------------- */
.space {
  width: 100%;
  min-height: 198px;
  display: table;
  color: #fff;
  padding: 0 !important;
  margin-bottom: 20px;
}
.space-status {
  position: absolute;
  padding: 20px 15px;
  font-weight: 400;
}
.space-info {
  display: table-cell;
  padding: 60px 15px;
  height: 100%;
  width: 100%;
  vertical-align: middle;
}
.space-info > * {
  max-width: 64%;
}
.space-info h2,
.space-info h3,
.space-info h4,
.space-info h5,
.space-info h6 {
  color: #fff;
}
.space-info p {
  color: #9cafbe;
  font-size: 14px;
  line-height: 18px;
}
.space-title {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 6px;
}
.space-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #32383e;
  overflow: hidden;
  margin: 0 -2px 0 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.space-image img {
  max-width: 100%;
}
.space-image .image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .75;
  background: #252a2e;
}
.card-feature.space {
  height: 198px;
  margin-bottom: 0;
}
.card-feature.space .space-image {
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
.space-card_details {
  min-height: 126px;
  padding: ;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  border: 1px solid #dddddd;
  border-top: 0px;
  color: #32383e;
}
.space-card_details.more {
  padding-left: 18px;
}
.space-card_details.more::after {
  content: " ";
  display: block;
  position: absolute;
  height: 100%;
  width: 1px;
  top: 0;
  margin-left: -15px;
  background: #bbc8d2;
  margin-left: -9px;
}
.space-card_details.more .space-card_event::after {
  content: " ";
  display: block;
  position: absolute;
  border: 1px solid #bbc8d2;
  margin-left: -18px;
  z-index: 100;
  top: 7px;
  height: 5px;
  width: 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
  margin-left: -12px;
}
.space-card_event {
  margin-bottom: 12px;
  font-weight: 500;
}
.space-card_event:last-child {
  margin-bottom: 0;
}
.space-card_event-time {
  float: right;
  color: #aaa;
}
/*

    Robin People LESS

    @author Sam Dunn, Jonah Stuart
    @company Robin
    @date 2014

--------------------------------------- */
.people {
  list-style-type: none;
}
.person {
  height: 25px;
  width: 25px;
  background: #252a2e;
  text-align: center;
  font-size: 12px;
  display: inline-block;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0 6px 12px 0;
}
.person img {
  max-width: 100%;
}
.person a {
  color: #fff;
  text-decoration: none;
}
.person.unidentified a {
  display: block;
  padding-top: 6px;
}
/*

    Robin Cards LESS

    @author Sam Dunn, Jonah Stuart
    @company Robin
    @date 2014

--------------------------------------- */
.icon-available {
  height: 10px;
  width: 10px;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #91ca55;
}
.card {
  padding: 0 !important;
  font-size: 14px;
  font-weight: 500;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  margin-bottom: 18px;
}
.card > *:first-child {
  padding-top: 20px;
}
.card_border {
  padding: 0 !important;
  font-size: 14px;
  font-weight: 500;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  margin-bottom: 18px;
  border: 1px solid #e9e9e9;
}
.card_border > *:first-child {
  padding-top: 20px;
}
.card_border .card-header {
  padding: 0 15px 20px;
  padding-top: 20px;
  font-size: 14px;
  line-height: 14px;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  border-bottom: 1px solid #dddddd;
}
.card_border .card-header > * {
  display: block;
}
.card_border .card-header.logo {
  text-align: center;
}
.card_border .card-header.logo img {
  display: inline;
  margin-bottom: 6px;
  height: 26px;
}
.card_border .card-header.logo p {
  color: #9cafbe;
  margin: 0;
}
.card_border .card-header + * {
  padding-top: 20px;
}
.card_border .card-footer {
  color: #aaa;
  line-height: 0%;
  border-top: 1px solid #dddddd;
  padding: 0 15px 20px;
  padding-top: 20px;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  margin: 0;
  padding: 20px 15px;
}
.card_border .card-footer > * {
  margin-bottom: 12px;
}
.card_border .card-footer > *:last-child {
  margin-bottom: 0;
}
.card_shadow {
  padding: 0 !important;
  font-size: 14px;
  font-weight: 500;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  margin-bottom: 18px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.card_shadow > *:first-child {
  padding-top: 20px;
}
.card-header {
  padding: 0 15px 20px;
  padding-top: 20px;
  font-size: 14px;
  line-height: 14px;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
.card-header > * {
  display: block;
}
.card-header.logo {
  text-align: center;
}
.card-header.logo img {
  display: inline;
  margin-bottom: 6px;
  height: 26px;
}
.card-header.logo p {
  color: #9cafbe;
  margin: 0;
}
.card-header_border {
  padding: 0 15px 20px;
  padding-top: 20px;
  font-size: 14px;
  line-height: 14px;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  border-bottom: 1px solid #dddddd;
}
.card-header_border > * {
  display: block;
}
.card-header_border.logo {
  text-align: center;
}
.card-header_border.logo img {
  display: inline;
  margin-bottom: 6px;
  height: 26px;
}
.card-header_border.logo p {
  color: #9cafbe;
  margin: 0;
}
.card-header-title {
  text-transform: uppercase;
  letter-spacing: 1px;
}
.card-header-action {
  text-transform: none;
  position: absolute;
  right: 15px;
  top: 20px;
  margin-top: -2px;
}
.card-content {
  padding: 0 15px 20px;
}
.card-content > *:last-child {
  margin-bottom: 0;
}
.card-feature {
  padding: 20px 0;
  background: #f4f6f9;
}
.card-feature_extra-padding {
  padding: 20px 0;
  background: #f4f6f9;
  padding-left: 15px;
  padding-right: 15px;
}
.card-footer {
  color: #aaa;
  line-height: 0%;
  border-top: 1px solid #dddddd;
  padding: 0 15px 20px;
  padding-top: 20px;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
.card-footer > * {
  margin-bottom: 12px;
}
.card-footer > *:last-child {
  margin-bottom: 0;
}
.card-footer_border {
  color: #aaa;
  line-height: 0%;
  border-top: 1px solid #dddddd;
  padding: 0 15px 20px;
  padding-top: 20px;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  margin: 0;
  padding: 20px 15px;
}
.card-footer_border > * {
  margin-bottom: 12px;
}
.card-footer_border > *:last-child {
  margin-bottom: 0;
}
* {
  position: relative;
  vertical-align: middle;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  background-repeat: no-repeat;
}
html,
body {
  height: 100%;
  background: #f4f6f9;
}
.padding {
  padding: 10px;
  zoom: 1;
}
.padding:before,
.padding:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}
.padding:after {
  clear: both;
}
#logo {
  padding: 20px 15px;
  background: #fd4b46;
  background-color: #ef4447;
  background-image: -moz-linear-gradient(top, #eb3349, #f45d43);
  background-image: -ms-linear-gradient(top, #eb3349, #f45d43);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eb3349), to(#f45d43));
  background-image: -webkit-linear-gradient(top, #eb3349, #f45d43);
  background-image: -o-linear-gradient(top, #eb3349, #f45d43);
  background-image: linear-gradient(top, #eb3349, #f45d43);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb3349', endColorstr='#f45d43', GradientType=0);
}
#logo img {
  height: 20px;
  width: auto;
  margin: 0 auto;
  display: block;
}
#sidebar {
  position: fixed;
  top: 0;
  height: 100%;
  width: 200px;
  background: #32383e;
  z-index: 3;
}
#sidebar-nav {
  list-style: none;
  margin-top: 20px;
}
#sidebar-nav li {
  list-style: none;
  font-size: 14px;
}
#sidebar-nav li a {
  color: #9cafbe;
  text-decoration: none;
  display: block;
  padding: 14px 20px;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
#sidebar-nav li a:hover {
  background: #3e454d;
}
#sidebar-nav li a:active,
#sidebar-nav li a .selected {
  color: #fff;
  background: #3e454d;
}
#main-column {
  margin-left: 200px;
  padding: 0 20px;
  position: relative;
  z-index: 2;
  zoom: 1;
}
#main-column:before,
#main-column:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}
#main-column:after {
  clear: both;
}
#typography .code-sample {
  width: 90%!important;
}
#typography .code-label {
  margin-right: 10px;
}
section {
  margin: 0 auto 60px auto;
  max-width: 800px;
  position: relative;
  zoom: 1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
section:before,
section:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}
section:after {
  clear: both;
}
section .padding {
  padding: 20px 20px;
}
section .section-header {
  padding-bottom: 0;
}
section .section-header.new-section {
  margin: 40px 0;
}
section .title {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 99.49600000000001%;
  margin-left: 2%;
  margin-right: 2%;
  width: 95.99600000000001%;
  margin-bottom: 0;
}
@media screen and (max-width: 650px) {
  section .title {
    width: 99.99600000000001%;
  }
}
.light-block {
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 99.49600000000001%;
  margin-left: 2%;
  margin-right: 2%;
  width: 95.99600000000001%;
}
@media screen and (max-width: 650px) {
  .light-block {
    width: 99.99600000000001%;
  }
}
.logo-block {
  position: relative;
  padding: 160px 0;
}
.logo-block img {
  display: block;
  margin: 0px auto;
  height: 38px;
  width: auto;
}
.logo-block#logo-navy {
  background: #32383e;
}
.logo-block#logo-red {
  background: #ee3f46;
  background-color: #ef4447;
  background-image: -moz-linear-gradient(top, #eb3349, #f45d43);
  background-image: -ms-linear-gradient(top, #eb3349, #f45d43);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eb3349), to(#f45d43));
  background-image: -webkit-linear-gradient(top, #eb3349, #f45d43);
  background-image: -o-linear-gradient(top, #eb3349, #f45d43);
  background-image: linear-gradient(top, #eb3349, #f45d43);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb3349', endColorstr='#f45d43', GradientType=0);
}
.caption-bar {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20px;
}
.palette {
  zoom: 1;
  clear: both;
  margin-top: 20px;
}
.palette:before,
.palette:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}
.palette:after {
  clear: both;
}
.palette.icons .swatch {
  background: #fff;
  padding: 0;
}
.palette.icons [class*="icon-"] {
  color: #ee3f46;
}
.color-block {
  width: 25%;
  display: inline-block;
  float: left;
}
.color-block .swatch {
  font-weight: 400;
  font-size: 16px;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  line-height: 100%;
  color: #fff;
  position: relative;
  padding: 20px 10px;
  display: block;
  background: #eee;
  margin: 0 0 15px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.color-block > div {
  margin: 15px;
}
#button-white,
#button-navy,
#button-red {
  text-align: center;
  padding: 120px 0;
}
#button-navy {
  background: #32383e;
}
#button-red {
  background: #ee3f46;
  background-color: #ef4447;
  background-image: -moz-linear-gradient(top, #eb3349, #f45d43);
  background-image: -ms-linear-gradient(top, #eb3349, #f45d43);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eb3349), to(#f45d43));
  background-image: -webkit-linear-gradient(top, #eb3349, #f45d43);
  background-image: -o-linear-gradient(top, #eb3349, #f45d43);
  background-image: linear-gradient(top, #eb3349, #f45d43);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb3349', endColorstr='#f45d43', GradientType=0);
}
.two-col {
  zoom: 1;
  clear: both;
  margin: 0 auto;
  max-width: 1300px;
}
.two-col:before,
.two-col:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}
.two-col:after {
  clear: both;
}
.two-col .col {
  float: left;
  width: 50%;
  display: inline-block;
}
.two-col.heavy-left .col:nth-child(1) {
  width: 70%;
}
.two-col.heavy-left .col:nth-child(1) .padding {
  padding: 0 20px 0 0;
  border-right: 1px solid #eee;
}
.two-col.heavy-left .col:nth-child(2) {
  width: 30%;
}
.two-col.heavy-left .col:nth-child(2) ul {
  font-size: 14px;
}
.two-col.heavy-left .col:nth-child(2) .padding {
  padding: 0 0 0 20px;
}
.three-col {
  zoom: 1;
}
.three-col:before,
.three-col:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}
.three-col:after {
  clear: both;
}
.three-col .col {
  float: left;
  width: 33.33%;
}
.full {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 99.49600000000001%;
  margin-left: 2%;
  margin-right: 2%;
  width: 95.99600000000001%;
}
@media screen and (max-width: 650px) {
  .full {
    width: 99.99600000000001%;
  }
}
.three-column {
  margin: 0 !important;
}
.three-column > * {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 32.832%;
  padding-left: 2%;
  padding-right: 2%;
}
@media screen and (max-width: 650px) {
  .three-column > * {
    width: 99.99600000000001%;
  }
}
.two-column {
  margin: 0 !important;
}
.two-column > * {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 49.498000000000005%;
  padding-left: 2%;
  padding-right: 2%;
}
@media screen and (max-width: 650px) {
  .two-column > * {
    width: 99.99600000000001%;
  }
}
.bottomless {
  margin-bottom: 0;
}
